* {
    box-sizing: border-box;
}

body {
    background-color: #FCEBEB;
    padding: 12px;
}
nav a {
    margin: 8px;
}
.column {
    width: 50%;
    float: left;
    margin-top: 20px;
    overflow: hidden;
}
.column-left img {
    width: 478px;
}
.column-right img {
    text-align: right;
    width: 450px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
img.logo {
    width: 300px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}